# Full local data
data/input/*.csv
data/output/*.csv

# Keep tracking sample data
!data/sample/*.csv

# SQLite database files
*.database
*.sqlite
*.sqlite3

# Excel temp files
~$*.xlsx

# Python tools 
.venv/
__pycache__/
.ipynb_checkpoint/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db